<!DOCTYPE html>
<html>
    <head>
        <title>Task List</title>
    </head>
    <body>
        <h1>All Tasks</h1>
        <a href="{{ url_for('task') }}">Add New Task</a>
        <ul>
            {% for task in tasks %}
            <li>
                <strong>Title:</strong> {{ task.title }}<br>
                <strong>Description:</strong> {{task.description }}<br>
                <strong>Priority:</strong> {{ task.priority }}<br>
                <form action="{{ url_for('update_task_status', task_id=task.id) }}" method = "post">
                    <input type="checkbox" name="is_complete" value="1" {% if task.is_complete %}checked{% endif %} onchange="this.form.submit()">
                    <strong>Completed:</strong> <span>{{ task.is_complete }}</span><br>
                </form>
                <form action="{{ url_for('delete_task', task_id=task.id) }}", method="post">
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
                </form>
            </li>
            {% else %}
            <li>No tasks found.</li>
            {% endfor %}
        </ul>
    </body>
</html>