{% extends "base.html" %}
{% block content %}
<div>
    <h1>New Recipe</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}
            {{ form.title }}
            {% for error in form.title.errors %}
            <div styke="color:red;">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        <div>
            {{ form.description.label }}
            {{ form.description }}
            {% for error in form.description.errors %}
            <div styke="color:red;">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form> 
</div>
{% endblock %}